@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 100vh;
}

.main-text {
    background: linear-gradient(90deg, rgb(230, 86, 141) 0%, rgb(221, 80, 136) 35%, rgb(208, 126, 252) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* For Safari/Chrome */
    color: transparent;
    font-weight: 800;
    font-size: 90px;
    margin: 0;
}

.sub-text {
    color: #fff;
    text-align: right;
    margin: 0;
    font-size: 25px;
}

.img-container {
    margin-left: 2rem;
}

/* For mobile devices with screen size less than or equal to 767px */
@media only screen and (max-width: 767px) {

    /* Set the font size and line height of the main-text to fit the screen */
    .main-text {
        font-size: 60px;
        line-height: 1.2;
    }

    /* Remove the margin of the img-container */
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 2rem;
        width: 50%;
        height: auto;
    }

    /* Center the main-container vertically and horizontally */
    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}